<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
   <p>メイン内容</p>
   <p>マスター</p>
   <p>git pull</p>

    <p>ギットマージ</p>
   <p>フィーチャーブランチ</p>
   <p>未来</p>
   <p>ギットハブフロー</p>

  </body>
</html>
